// Your custom layout SCSS should be written here...
@import "compass/layout/sticky-footer";
@include sticky-footer(30px, ".container", "#layout_footer", "footer");

#page, header, footer, .moreinfo {
  @include row();
}

//column layout
#nav-container {
  @include column(4);
}
#main-content {
  @include column(10);
  @include push(1);
  @include rem(margin-top, 27px); /*34 from comp -7px extra in layout*/
  @include respond(desktop) {
    margin-top: 0;
  } 
}

header {
  @include respond(desktop) {
    @include rem(margin-bottom, 27px); /*34 from comp -7px extra in layout*/
  } 
}

.nobannerimg {
  @include rem(border-bottom, 1px solid $banner_border);
}

footer {
  background: #fff;
  text-align: center;
  @include rem(max-width, 980px);
}


#topbar{
  @include rem(padding, 0 5px);
  position: relative;
  @include rem(margin-bottom, 22px);
  .call-us {
    @extend %call-base;
    position: absolute;
    display: none;
    top: 0;
    @include rem(right, -20px);
    @include rem(top, -20px);
    @include rem(padding, 6px);
    @include border-bottom-left-radius(5px);
    .text {
      display: none; //override by showing only the "call us" span, below
    }
    .icon-icon_callus {
      @include rem(padding-left, 40px);
      display: inline-block;
      background-origin: content-box; /*Android ICS seems to be buggy with background positioning and attachment. Had 30px left padding and origin padding-box, but changed to this for compromise*/
      @include rem(background-position, -40px center);
    }
    @include respond(desktop) { //no way to combine the media query and selector-based override here, although the rules are identical
      .text {
        display: inline;
      }
      .icon-icon_callus {
        background-image: none;
        padding-left: 0;
      }
    }
    &.is-visible {
      display: block;
    }
  }
}

.lt-ie9 {
  #topbar {
    .call-us {
      .icon-icon_callus {
        background-image: none;
        padding-left: 0;
      }
      .text {
        display: none;
      }
      @include respond(desktop){
        .text {
          display: inline;
        }
      }
    }
  }
}

  .topbar-title  {
    display: inline;
    position: relative;
    white-space: nowrap;
    margin-bottom: 0;
    padding: 0;
    @include rem(line-height, 1em);
    @include rem(left, 10px); /*roughly 40px from left*/
    @include respond(desktop){
      display: block;
      position: absolute;
      bottom: 0;
      @include rem(right, 5px);
      padding-bottom: 0;
      text-align: right;
      left: 0;
    }
  }
#logo {
  z-index: 1;
  position: relative;
  display: block;
  @include replace-text("images/moda.png");
  width: 145px;
  height: 75px;
}
#home-img {
  @media only screen and (orientation: landscape) and (max-width: $tablet-device-width) {
    display: none;
  }
  padding: 5px;
  @include rem(border, 1px solid $banner_border);
}
  @media only screen and (orientation: landscape) and (max-width: $tablet-device-width) {
    #branding {
      @include rem(border-bottom, 1px solid $banner_border);
    }
  }
#main-content > *:first-child {
  padding-top: 0;
}
header, #main-content, #page {
  @include rem(max-width, 940px);
}
.container {
  @include rem(max-width, 980px);
  @include rem(min-width, 320px);
  background: #fff;
  height: 100%;
  margin: 0 auto;
  @include rem(padding, 20px);
  & > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.lt-ie9 #home-img {
  width: inherit; //necessary to get ie8 to scale the image in both directions
}
