// Your custom layout SCSS should be written here...
@import "compass/layout/sticky-footer";
@include sticky-footer(30px, ".container", "#layout_footer", "footer"); //Compass sticky footer mixin

/* ==========================================================================
  Page nav/content layout (rows and columns)
   ========================================================================== */
#page, header, footer, .moreinfo {
  @include row();
}

header, #main-content, #page {
  @include rem(max-width, 940px);
}

.container {
  @include rem(max-width, 980px);
  @include rem(min-width, 320px);
  background: #fff;
  height: 100%;
  margin: 0 auto;
  @include rem(padding, 20px);
  & > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

#nav-container {
  @include column(4);
}

#main-content {
  @include column(10);
  @include push(1);
  @include rem(margin-top, 27px); /*34 from comp -7px extra in layout*/
  @include respond(desktop) {
    margin-top: 0;
  } 
}

  #main-content > *:first-child {
    padding-top: 0;
  }

/* ==========================================================================
  Header/banner
   ========================================================================== */

header {
  @include respond(desktop) {
    @include rem(margin-bottom, 27px); /*34 from comp -7px extra in layout*/
  } 
}
  .nobannerimg {
    @include rem(border-bottom, 1px solid $banner_border);
  }

  //@media only screen and (orientation: landscape) and (max-width: $tablet-device-width) {
   // #branding {
   //   @include rem(border-bottom, 1px solid $banner_border);
  //  }
 // }

/* ==========================================================================
  Footer
   ========================================================================== */

footer {
  background: #fff;
  text-align: center;
  @include rem(max-width, 980px);
}