// Your custom module SCSS should be written here...

/* ==========================================================================
  Custom bulleted lists
   ========================================================================== */

	#main-content ul {
	    @include rem(margin, 0 0 0 2em);
	}

	#main-content ul > li {
	  line-height: 1.2;
	  list-style-image: url("../images/bullet_arrow.gif");
	  list-style-position: outside;
	  @include rem(margin-bottom, 0.2em);
	  width: 85%;
	}

/* ==========================================================================
  Top bar (within header)
   ========================================================================== */

#topbar{
  @include rem(padding, 0 5px);
  position: relative;
  @include rem(margin-bottom, 22px);
  @include rem(min-width, 320px);
  .call-us {
    @extend %call-base;
    position: absolute;
    display: none;
    top: 0;
    @include rem(right, -20px);
    @include rem(top, -20px);
    @include border-bottom-left-radius(5px);
    .text {
      display: none; //override by showing only the "call us" span, below
    }
    .icon-icon_callus {
      @include rem(padding-left, 30px);
      display: inline;
      background-origin: content-box; /*Android ICS seems to be buggy with background positioning and attachment. Had 30px left padding and origin padding-box, but changed to this for compromise*/
      @include rem(background-position, -30px center);
    }
    @include respond(desktop) { //no way to combine the media query and selector-based override here, although the rules are identical
      .text {
        display: inline;
      }
      .icon-icon_callus {
        background-image: none;
        padding-left: 0;
        background-origin: padding-box;
      }
    }
    &.is-visible-topbar {
      display: block;
    }
  }
}

.lt-ie9 {
  #topbar {
    .call-us {
      .icon-icon_callus {
      	position: relative;
        background-image: none;
        //@include rem(padding-left, 1px); //not sure what I missed here, but this was overlapping on IE8, and this code fixed it
        left: 0;
      }
      .text {
        display: none;
      }
      @include respond(desktop){
        .text {
          display: inline-block;
        }
      }
    }
  }
}

/* ==========================================================================
  Topbar title
   ========================================================================== */

.topbar-title  {
  display: inline;
  position: relative;
  white-space: nowrap;
  margin-bottom: 0;
  padding: 0;
  @include rem(line-height, 1em);
  @include rem(left, 10px); /*roughly 40px from left*/
  @include respond(desktop){
    display: block;
    position: absolute;
    bottom: 0;
    @include rem(right, 5px);
    padding-bottom: 0;
    text-align: right;
    left: 0;
  }
  a {
    color: $modern-plum;
  }
}

/* ==========================================================================
  Logo
   ========================================================================== */

#logo {
  z-index: 1;
  position: relative;
  display: block;
  @include replace-text("images/moda.png");
  width: 145px;
  height: 75px;
}

/* ==========================================================================
  Toggle menu (hamburger)
   ========================================================================== */

.icon-menu-toggle {
	//float: left;
  	//@include rem(height, 40px);
  	//@include rem(width, 46px);
  	//@include rem(line-height, 38px);
  	position: relative;
  	@include rem(bottom, -3px); //even up with topbar title
  	@include font-size(30px);
  	@include respond(desktop) {
	  	display: none;
	  	bottom: 0;
  	}
  	i {
  		margin-left: 0;
  	}
}

/* ==========================================================================
  Navigation - not optimized mobile-first (at this point)
   ========================================================================== */

.home #main-nav .home,
.faqs #main-nav .faqs,
.confidentiality #main-nav .confidentiality,
.services #main-nav .services,
.resources #main-nav .resources {
    background-color: $compact_nav_selected_bgcolor;
    a {
    	color: $warm_brown;
    }
    @include respond(desktop) {
    	background-color: $body_bgcolor;
    }  
}

#main-nav {
	li {
		padding-left: 20px;
		padding-bottom: 0;
		position: relative;
		@include rem(left, -20px);
	}
	a:hover {
		color: $warm_brown;
	}
}

@include respond(desktop){
	.vertical-nav {
		&.fixed {
			width: inherit;
			@include rem(max-width, 220px); //this is the width of the nav unfixed, and it overflows otherwise
			@include rem(margin-left, -20px); //deals with issue on my android where fixed nav pulls away from left
			@include rem(padding-left, 20px);
		}
		&.unfixed { //wanky, non-js way of having the unfixed nav adjust to match the fixed width context when the viewport is narrower than full-width content
			@include respond("max-width: 940px") {
				@include rem(margin-right, -9px);
			}
		}
		//this leaves a 10px gap where the menu width changes from unfixed to fixed
	}
}

@include respond(all-phones) {
	#nav-container,
	.vertical-nav,
	#main-nav {
		width: 100%;
		li {
			width: 100%;
			left: 0;
			a {
				width: 100%;
				left: 0;
			}
		}
	}
	#main-nav {
		max-height: 0;
		margin-bottom: 0;
		overflow: hidden;
		@include transition(max-height 0.8s, margin-bottom 0.8s);
		color: $modern_plum !important;
		&.active {
			max-height: 600px;
		}
		li {
			background: $compact_nav_bgcolor;
			border-top: 1px solid #fff;
			padding-left: 0;
			&:hover {
				color: $warm_brown;
				background: $compact_nav_selected_bgcolor;
			}
			a {
				height: 100%;
				display: block;
				@include rem(padding-left, 40px);
			}
		}
	}
	.icon-menu-toggle {
		display: inline-block;
	}
}

/* ==========================================================================
  Home page lead-in section
   ========================================================================== */

//Gumby respond is automatically resetting this at the mobile breakpoint

#main-content .lead-in { //unfortunate specificity seems necessary at this point because of other declarations (refactor?)
	@include row(nested);
	.col1, .col2 { 
		@include column(8);
	}
	@include respond(desktop) {
		@include rem(margin-bottom, 13px); //double up on normal paragraph margin
	}
	@include respond(tablets) {
		.col1, .col2 {
			@include row(nested);
		}
		.col1 > .activities-list,
		.col2 > .call-us {
			display: none !important;
		}
	}
}

#main-content .lead-in .lead-in-nested-col {
	display: none;
	.activities-list, .call-us { //this declaration must be outside a media query for it to work
		@include column(7); //nested columns need to be narrower because of margin on custom UL
	}
	@include respond(tablets) {
		@include row(nested);
		display: block;
		.activities-list {
			margin: 0 0 0.75em 2em;
		}
	}
}

/* ==========================================================================
  Call us boxes (see also topbar call-us styles)
   ========================================================================== */

#main-content {
	.call-us {
		@extend %call-base;
		@include rem(padding, 15px);
		@include rem(border-radius, 6px);
		@include rem(margin-bottom, 13px);
		@include respond(all-phones) {
			display: none;
		}
		@include respond(desktop) {
			width: auto;
		}
	}
	.call-us-top {
		@include row(nested);
		@include respond(desktop) {
			display: none;
		}
		.call-us {
			display: block;
			@include column(16);
			width: 100%;
			@include rem(padding, 6px 10px);
		}
	}
} 

#main-content .icon-icon_callus {
	background-image: none;
}



/* ==========================================================================
  Home page icon set
   ========================================================================== */

.with-icon {
	padding-left: 0;
	text-align: center;
	> * {
		text-align: left;
	}
	.icon {
		//@include rem(background-size, 80px);
		//background-position: top center;
		@include rem(height, 80px);
		@include rem(width, 80px);
		
		display: inline-block;
		position: relative;
	}
	@include respond(desktop) {
		text-align: left;
		padding-top: 0;
		@include rem(padding-left, 100px);
		.icon {
			@include rem(left, -100px);
			@include rem(margin-bottom, -100px);
		}
	}
}

.lt-ie9 .with-icon { //just get rid of this on ie8 because it can't handle background image sizing correctly
	background: none;
	padding-left: 0;
	padding-top: 0;
	.icon {
		background: none;
	}
}

/* ==========================================================================
  Home image
   ========================================================================== */
.home-img {
	padding: 5px;
  	@include rem(border, 1px solid $banner_border);
}
	#branding .home-img {
		display: none;
		@include respond(desktop) {
			display: block;
		}
	}
	#page .home-img {
		display: block;
		@include respond(desktop) {
			display: none;
		}
	}
  .lt-ie9 .home-img {
    width: inherit; //necessary to get ie8 to scale the image in both directions
  }