// Your custom module SCSS should be written here...

//custom bulleted lists

#main-content ul {
    margin: 0 0 0.75em 2em;
}

#main-content ul > li {
  line-height: 1.2;
  list-style-image: url("/images/bullet_arrow.gif");
  list-style-position: outside;
  margin-bottom: 0.2em;
  width: 85%;
}

//navigation

//toggle menu (hamburber) defaults
.icon-menu-toggle {
  display: none;
  @include rem(height, 40px);
  @include rem(width, 46px);
  @include rem(line-height, 38px);
  @include font-size(30px);
}

.home #main-nav .home,
.faqs #main-nav .faqs,
.confidentiality #main-nav .confidentiality,
.services #main-nav .services,
.resources #main-nav .resources {
    background-color: $body_bgcolor;  
}

#main-nav {
	li {
		position: relative;
		@include rem(left, -20px);
		a {
			position: relative;
			left: 20px;
		}
	}
	&.active {
		li {
			left: 0;
			a {
				left: 0;
			}
		}
	}
}

@include respond(all-phones) {
	#main-nav {
		display: none;
		width: 100%;
		text-align: center;
		color: #fff !important;
		&.active {
			display:inline-block;
			@include rem(margin-bottom, 22px);
		}
		li {
			background: #ccc;
			border-top: 1px solid #fff;
			&:first-child {
				border-top: 0 none;
			}
		}
		a {
			width: 100%;
			height: 100%;
			display: block;
			color: #fff;
			&:hover {
				color: $modern-plum;
			}
		}
	}
	.icon-menu-toggle {
		display: block;
	}
}