// Your custom variable SCSS should be written here...
$modern_plum: #a50069;
$warm_brown: #493b31;
$modern_yellow: #ffe92c;
$modern_aqua: #2fb5b7;
$ligher_yellow: #fef9ce;
$banner_border: rgb(191,231,227); /*#7accc4 with 48% opacity*/
$body_bgcolor: rgb(230,245,245);
$compact_nav_bgcolor: rgb(238,238,238);
$compact_nav_selected_bgcolor: rgb(191,231,227);
$custom_respond: 400px;