.icon-icon_telephonecounseling {
	background-image: url('png/icon_telephonecounseling.png');
	background-repeat: no-repeat;
}
.icon-icon_callus {
	background-image: url('png/icon_callus.png');
	background-repeat: no-repeat;
}
.icon-icon_facetofacevisits {
	background-image: url('png/icon_facetofacevisits.png');
	background-repeat: no-repeat;
}
.icon-icon_onlineresources {
	background-image: url('png/icon_onlineresources.png');
	background-repeat: no-repeat;
}