%ul{:class => "main-nav"}
    = list_of({:Home => "/", :"EAP services" => "/services.html", :Resources => "/resources.html", :Confidentiality => "/confidentiality.html", :FAQs => "/faqs.html"}) do |title,path|
        %a{ href: path }= title
