%ul
    = list_of(['Relationship problems', 'Depression or anxiety', 'Stress management', 'Alcohol or drug abuse', 'Community resources', 'Identity theft'], {class: "activities-list"}) do |item| 
        = item