%ul{:class => "activities-list"}
    = list_of(['Relationship problems', 'Depression or anxiety', 'Stress management', 'Alcohol or drug abuse', 'Community resources', 'Identity theft']) do |item| 
        = item