%a.call-us{:class => ("is-visible-topbar" unless current_page.data.bannerimg), :href => "tel:1-800-826-9231"}
    %span.icon-icon_callus Call us
    %span.text
        24/7 at
        %span.phone 800-826-9231