-# %h1= current_page.data.title
-# %h2= current_page.data.bodyclass

#branding{:role => "banner", :class => ("nobannerimg" unless current_page.data.bannerimg)}
    #topbar
        #logo
            :markdown
                Moda Health. Healthcare from your head to your toes.

        =partial "partials/_call-us"

        %a{:class => "toggle icon-menu-toggle", "gumby-trigger" => "#main-nav", :href => "#"}
            %i{:class => "icon-menu"}

        %h3{:class => "topbar-title"}
            %a{:href => "/"}= "Employee Assistance Program"        

    -if current_page.data.bannerimg
        = partial "partials/_home-img"