-# %h1= current_page.data.title
-# %h2= current_page.data.bodyclass

#branding{:role => "banner", :class => ("nobannerimg" unless current_page.data.bannerimg)}
	#topbar
		%img#logo{:src => "images/moda.png", :height => "71", :width => "145"}
		%a{:class => "toggle icon-menu-toggle", "gumby-trigger" => "#nav-container", :href => "#"}
			%i{:class => "icon-menu"}
		#call_us{:class => ("is_visible" unless current_page.data.bannerimg)}
			Call us 24/7 at
			%span{:class => "phone"} 800-826-9231
		%h2{:class => "topbar_title"}= "Employee Assistance Program"

-if current_page.data.bannerimg
	%img#home_img{:src => "images/banner.jpg", :height => "150", :width => "928"}

