-# %h1= current_page.data.title
-# %h2= current_page.data.bodyclass

#branding{:role => "banner"}
	#topbar
		%img#logo{:src => "images/moda.png", :height => "71", :width => "145"}
		%h1= current_page.data.title

-if current_page.data.banner
	%img#home_img{:src => "images/banner.jpg", :height => "150", :width => "928"}	

