%ul{:id => "main-nav"}
	%li{:class => "home nav", :role => "nav"}
		%a(href=".") Home
	%li{:class => "services nav", :role => "nav"}
		%a(href="services.html") Services
	%li{:class => "resources nav", :role => "nav"}
		%a(href="resources.html") Resources
	%li{:class => "confidentiality nav", :role => "nav"}
		%a(href="confidentiality.html") Confidentiality
	%li{:class => "faqs nav", :role => "nav"}
		%a(href="faqs.html") FAQs