%ul
  = list_of({:Home => "/", :"EAP services" => "/services.html", :Resources => "/resources.html", :Confidentiality => "/confidentiality.html", :FAQs => "/faqs.html"}, {class: "nav", role: "nav"}) do |title,path|
    %a{ href: path }= title