---
title:     Confidentiality
bodyclass: confidentiality
---
:markdown
  Your privacy and confidentiality is very important to us. That&#8217;s why the Moda Health EAP is a completely confidential service available to you and your eligible family members. We do not release any information about your involvement in the program without written permission, and can ensure you that no one at work will know of our participation unless you tell them yourself.

  ##If a family member uses the EAP, would the primary subscriber find out?

  The privacy and confidentially of your eligible family members is just as important to us as the confidentially for you. This means that even the primary subscriber of Moda Health will not know if a family member uses our EAP services unless the participant tells them. In the case of children, many states allow adolescents to obtain healthcare services legally without the consent of the parents (the age at which this is possible varies). For younger children, parents must be included in the assessment and referral process, and would quite naturally know about the use of the EAP.

  ##Periodic reports don&#8217;t identify individuals  

  We provide periodic reports to your employer. These reports give the number of employees and dependents who utilize our EAP services by month, general types of problems, and the number of hours used. This information is reported in a combined format and no individual is identified. Along with that, we do not report any user information that would identify you or a family member using the EAP.

  ##Completely confidential (except for rare circumstances)

  As we&#8217;ve stated above, you and your eligible family member&#8217;s use of the Moda Health EAP is completely confidential. Without written permission, no one will know about your participation in the program except in these rare circumstances:


  - The abuse or neglect of minor children will be reported to child protective service authorities
  - The abuse or neglect of elderly persons will be reported
  - When there is an immediate danger of harm to one&#8217;s self or others
  - If the participant is under subpoena or a court order
  - Please note: If you sign a workers compensation claim, you are giving &#8220;blanket permission&#8221; to release any and all mental and health records. We will to contact you before we release this information.