---
title:     Frequently Asked Questions
bodyclass: faqs
---
:markdown
  Want to learn more about the Moda Health EAP services? This page answers some of the most common questions we hear from our members. If you still need information, please call us toll-free at <span class="phone">800-826-9231</span>.

  ## How will the EAP help?

  We know that dealing with stress or problems can feel overwhelming. We often don&#8217;t know where to start. Our EAP counselors can help. We can sit down with you to help:

  - Identify and define stressors and problems
  - Prioritize concerns in terms of immediacy and severity
  - Develop an action plan and problem-solve
  - Facilitate referrals as needed
  - Identify resources within your community
  - Provide support and motivation

:markdown
  Our EAP counselors are experts at helping you make changes today to reach your goals for a better tomorrow. If you need to speak with us right away, just call our 24-hour crisis phone line at 800-826-9231. Our experienced crisis counselors will assist you in handling the immediate crisis and make plans for follow-up assistance. They can also answer questions based on your specific concerns.

  ## How do I know when I need to use the EAP?

  - If you've tried various solutions, and none seem to work
  - The situation is affecting your work and your relationship with others
  - You are preoccupied with the problem
  - You know something is wrong, but you can't seem to identify the nature of the problem
  - You are having physical signs of stress such as headaches, upset stomach, insomnia, etc.
  - You need an objective point of view about a problem

:markdown
  ## How do I access the EAP?

  You can call us toll-free <span class="phone">800-826-9231</span> at any time.

  For a life-threatening situation, you will receive help immediately. For other situations, you will be offered an appointment with one of our EAP professionals within 48 hours of your call. All of our EAP counselors have a variety of times available for scheduling, including evenings.

  A courteous and caring EAP staff member will listen, answer your questions, and can set up an appointment for you at our office. We will ask you:

  - Your name
  - Whether you are  the employee or a dependent
  - If you are a dependent,  the name of the employee
  - The name of the company providing the EAP service
  - Where you live (city and state)
  - To give a  1-2 word description of the problem (i.e. marital, stress, anger, parenting)
  - To give some basic demographic information

:markdown
  We will give your name and contact number to an EAP counselor. They will call you to set up a time and date for your first appointment.

  ## What can I expect during a first office visit?

  We suggest that you arrive for your appointment about 15 minutes earlier than the scheduled time. This allows you to complete required paperwork and save your time for the visit itself. The EAP professional will discuss confidentially limits, and their policies and procedures for such things as scheduling and telephone calls. They will then ask you about your home or workplace concerns. They will conduct a brief social history including drug/alcohol use, legal problems, education, and current stressors.

  Feel free to ask questions of the EAP professional such as their education, background and training; how they work with clients; how often they see clients; how much experience they have working with your particular concern, etc.

  ## What are the qualifications of the EAP professionals?

  Each of our EAP counselors you will talk to:

  - Are licensed in the state(s) in which they practice
  - Have a minimum of a Master&#8217;s degree in psychology, counseling, social work, mental health nurse practitioner, marriage and family counseling
  - Have a minimum of four years post-masters experience in their chosen field
  - Have experience with and understanding of employee assistance programs
  - Are familiar with resources available within their communities
  - Are located throughout the United States
  - Practice brief solution-focused counseling
  - Make referrals based on needs, insurance coverage, financial considerations and best practice standards

:markdown
  ## What is the difference between a Self-Referral and a Supervisor Referral?

  A Self-Referral is when you contact the EAP on your own. When this occurs, no one else knows about your contact. Most EAP contacts are Self-Referrals.

  A Supervisor Referral may occur when an employee demonstrates a pattern of declining job performance or has been involved in a serious job incident.

  Participation in the EAP is still voluntary.

  The EAP Counselor will report back to the supervisor only the following information (unless otherwise requested by the client):

  - Whether the appointment was kept
  - Whether or not any recommendations were made
  - Whether or not the employee has followed recommendations to completion

:markdown
  No specific information about the individual case is discussed with the supervisor.

  Sometimes a supervisor may recommend that an employee make a Self-Referral. This situation is not the same as a Management or Supervisor Referral and does not follow the procedures outlined above for a Supervisor Referral.

