---
title:     Employee Assistance Program
bodyclass: home
bannerimg: true
---

.call-us-top
    = partial "partials/_call-us"
.lead-in
    .col1
        :markdown
            Every now and then we can all use a little help to get back on track. If you, or your eligible family members, are experiencing life&#8217;s ups and downs that are affecting you personally and professionally, the Moda Health Employee Assistance Program (EAP), powered by the good folks at Cascade Centers, can help. This free and completely confidential counseling benefit can support and assist you with a variety of concerns that can interfere with your day-to-day activities, including:
       
        = partial "partials/_activities-list"

        .lead-in-nested-col
            = partial "partials/_lead-in-nested-col"

    .col2
        :markdown
            With Moda Health EAP, you&#8217;ll have 24/7 access to our highly trained team of professional counselors who are ready to help you with personal issues that are affecting your or your eligible family members. We can accommodate whatever point of contact that works best for you.

        = partial "partials/_call-us"

.with-icon
    %span.icon-icon_facetofacevisits.icon
    :markdown
        ### Face-to-face visits

        We can meet with you face-to-face to better understand your issue and set realistic goals that you can reach. We&#8217;re also available to support you through ongoing visits to monitor your progress and help you achieve your goals.

.with-icon
    %span.icon-icon_telephonecounseling.icon
    :markdown
        ### Telephone counseling

        If you prefer to talk to us over the telephone, our counselors are available to arrange a call to speak with you. Need to talk right away? Call our 24-hour crisis phone line at <span class="phone">800-826-9231</span>. We are available for on evenings, weekends and holidays, seven days a week, 365 days a year.

.with-icon
    %span.icon-icon_onlineresources.icon
    :markdown
        ### Online resources

        As a Moda Health member, you have easy online access to important benefit information and health tools. We provide several programs and online resources that help you get the most value out of your EAP services.

        To learn more, please call us toll-free at <span class="phone">800-826-9231</span>. One of our team members will get in touch with you right away. We are ready to help you and your eligible family members complete an intake, assessment and referral so you can start getting the help you need through our many services, personal wellness programs and other helpful resources.
