---
title:     Employee Assistance Program
bodyclass: eap
bannerimg: true
---

:markdown
    Getting you the help you need, when you need it, is important to us. Along with our free, confidential consulting and support, we offer a variety of EAP services that help you resolve work-related conflict or other personal issues, including:

%ul{:class => "moda-list"}
    %li Three sessions per incident
    %li Problem solving and referral
    %li Online resources
    %li Telephone consultation and management referrals
    %li Group critical incident stress debriefings
    %li Legal mediation consultation
    %li Financial services
    %li Home ownership program
    %li Identity theft services
    %li Concierge services

:markdown

    ### Three sessions per incident

    You and each of your eligible family members receive diagnosis and treatment planning consisting of up to three paid sessions per unrelated incident.

    ### Problem solving and referral

    We provide assessment, diagnosis, short-term problem solving and referrals for concerns that include substance abuse, relationships, mental/emotional, and work-related issues.

    ### Online resources

    EAP services such as “The Line,” Listening Library, tax resolution assistance, free online will preparation, career development services, life coaching, and parent coaching can help you determine the best course of action to resolve personal, family and relationship issues.

    ### Telephone consultation and management referrals

    Unlimited telephone consultation with an EAP representative and management referrals for supervisors/managers can help identify problems and prevent minor problems from becoming more severe. 

    ### Group critical incident stress debriefings

    We provide stress debriefing in the 48-72 hour window following a traumatic event, including 24/7 consultation services to management pre-, during, and post-incident, as needed. We can also help you identify potential problems that may need to be addressed immediately or in the near future. In addition, we can work with you to recognize post-traumatic stress 

    ### Legal mediation consultation

    ### Financial services

    ### Home ownership program

    ### Identity theft services

    ### Concierge services