---
title:     Resources
bodyclass: resources
---

:markdown
  With legal forms and financial information at your fingertips, you can better understand laws relating to personal and business matters in your own state. The Moda Health EAP gives you free online access to Cascade&#8217;s Legal and Financial Resource Library. This legal hub contains thousands of legal and financial forms, over 45 financial calculators, professionally written articles, FAQs and much more. You can even create legal documents free of charge using your own personal account.

  [comment]: <> (Need to use html links with query strings that have multi-params. Couldn't figure out another solution)

  <a href="http://www.cascadecenters.com/index.php?tray=content&tid=top10621&cid=172" target="_blank">Visit Cascade&#8217;s Legal and Financial Resource Library</a> to access free, fillable legal forms and other financial documents, including:

  ### Personal legal documents

%ul{:class => "moda-list"}
  %li Will
  %li Living trust
  %li Complaint letters
  %li Family and divorce

:markdown
  ### Business legal documents

%ul{:class => "moda-list"}
  %li Business agreements
  %li Corporations and LLCs
  %li Intellectual property
  %li Loans and collections

:markdown
  ### Legal information

%ul{:class => "moda-list"}
  %li Consumer finance and protection
  %li Credit, debt collection, identity theft
  %li Bankruptcy
  %li Civil rights

:markdown
  ### Need financial advice?

  Do you have a financial question or need help with your personal finances? A financial coach is just a phone call away. Simply call us toll-free at 800-826-9231. Our financial coaches are available to help you 24-hours a day, seven days a week, 365 days a year.

  ### EAP newsletter

  Looking for ways to manage stress and find a healthy work-life balance? Our partner, Cascade Centers, produces a quarterly newsletter that provides members with useful information and tips on how to get the most out of our EAP services. <a href="http://www.cascadecenters.com/index.php?tray=topic_list_detail&tid=top10573&cid=178" target="_blank">Click here</a> to view previous newsletters.
