---
title:     Moda Health EAP services
bodyclass: services
---

:markdown
  Getting you the help you need, when you need it, is important to us. Along with our free, confidential consulting and support, we offer a variety of EAP services that help you resolve work-related conflict or other personal issues, including:

%ul{:class => "moda-list"}
  %li Diagnosis and treatment planning
  %li Problem solving and referral
  %li EAP services
  %li EAP toolkit
  %li Group Critical Incident Stress Debriefings
  %li Legal/Mediation consultation
  %li Financial services
  %li Home ownership program
  %li Identity theft services
  %li Concierge services

:markdown

  ### Three sessions per incident

  Diagnosis and treatment planning consisting of up to three paid sessions per unrelated incident for you and each of your eligible family members.

  ### Problem solving and referral

  Assessment, diagnosis, short-term problem solving and referral of you and your family members for concerns that include substance abuse, relationships, mental/emotional, and work-related issues.

  ### EAP services

  EAP services such as &#8220;The Line,&#8221; Listening Library, tax resolution assistance, free online will preparation, career development services, life coaching, and parent coaching can help you determine the best course of action to resolve personal, family and relationship issues.

  ### EAP toolkit

  This handbook teaches supervisors and managers how to identify problems, make referrals, and help employees resolve issues to remain successful at their job and protect workplace morale. Download the EAP toolkit today.

  ### Group critical incident stress debriefings

  We provide stress debriefing in the 48-72 hour window following a traumatic event, including 24/7 consultation services to management pre-, during, and post-incident, as needed. We can also help you identify potential problems that may need to be addressed immediately or in the near future. In addition, we can work with you to recognize post-traumatic stress symptoms or other complications. Management consultation is available for people who wish to be informed about the effects of the CISD and understand any signs and symptoms of post-traumatic stress syndrome, how to intervene with others, and how to make a successful referral to the EAP. A minimum of five (5) participating employees in attendance is required for group debriefings.

  ### Legal/mediation

  Each covered member is eligible for one initial 30-minute office or telephone consultation per separate legal/mediation matter (limit 3 per year) at no cost with a network attorney/mediator. If the member decides to retain the participating attorney/mediator after the initial consultation, you will be provided with a preferred rate reduction of 25 percent from the attorney&#8217;s/mediator&#8217;s normal hourly rate.

  ### Financial services

  You are eligible to receive telephonic financial coaching from certified financial consultants.

  ### Home ownership program

  We provide assistance and discounts on services associated with selling, buying and refinancing a home.

  ### Identity theft services

  This service provides members with a free 60-minute consultation with a highly trained Fraud Resolution Specialist&#8482; (FRS).  The FRS will conduct emergency response activities and assist members with restoring their identity, good credit and with the costly steps to dispute fraudulent debts, etc.  In addition, members also receive an Emergency Response Kit outlining actions and suggestions regarding Identity Theft Prevention and Restoration of the member&#8217;s damaged identity.

  ### Concierge services

  For people on the go, these retrieval services help you with everything from finding conveniently located dry-cleaners locations to dog-sitters. This service saves you time by researching, identifying and verifying information and resources for you.

  To learn more about these services, please call us toll-free at <span class="phone">800-826-9231</span>.
