---
title:     Moda Health EAP services
bodyclass: services
---

:markdown
  Getting you the help you need, when you need it, is important to us. Along with our free, confidential consulting and support, we offer a variety of EAP services that help you resolve work-related conflict or other personal issues, including:

.moreinfo
  :markdown
    ### For More Info…

    * on the Susy grid system, check out [the official site](http://susy.oddbird.net/).

  =img_holder(:width => 300, :height => 200, :bgcolor => "#0c0", :fgcolor => "#fff", :text => "I'm an image placeholder!")


